p,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Courier New', Courier, monospace;
}

.main-container {
  max-width: 1425px;
  display: flex;
  justify-content: space-evenly;
}
.right-container {
  width: 40%;
  padding-right: 35px;
}
.top-container {
  width: 100%;
  height: 49%;
  margin-bottom: 1%;
  border-radius: 15px;
  border: 3px solid chartreuse;
  background-color: black;
  background-image: radial-gradient(rgba(9, 32, 30, 0.75), black 120%);
  overflow: hidden;
  padding: 2rem;
  color: chartreuse;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
}
.bottom-container {
  position: relative;
  width: 100%;
  height: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map-container {
  width: 584px;
  height: 700px;
  margin: 0 20px 0 20px;
  border-radius: 15px;
  border: 3px solid chartreuse;
}
#map{
    background: url('../images/map-img.png');
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 1fr);
}
#arrow-n {
    border: 2px solid chartreuse;
    border-radius: 50%;
}
#arrow-s {
    border: 2px solid chartreuse;
    border-radius: 50%;
}
#arrow-e {
    border: 2px solid chartreuse;
    border-radius: 50%;
}
#arrow-w {
    border: 2px solid chartreuse;
    border-radius: 50%;
}
#arrow-n {
    border: 2px solid chartreuse;
    border-radius: 50%;
} 
#arrow-s:hover {
  cursor: pointer;
}
#arrow-e:hover {
  cursor: pointer;
}
#arrow-w:hover {
  cursor: pointer;
}
.player-icon {
  width: 45px;
  height: auto;
}
#player-icon1 {
  position: relative;
  left: 50%;
}
#player-icon2 {
  position: relative;
  left: 180%;
}
#player-icon3 {
  position: relative;
  left: 210%;
  top: 140%;
}
#player-icon4 {
  position: relative;
  left: 130%;
  top: 140%;
}
#player-icon5 {
    position: relative;
    left: 215%;
    top: 230%;
}
#player-icon6 {
    position: relative;
    left: 55%;
    top: 80%;
}
#player-icon7 {
    position: relative;
    left: 135%;
    top: 210%;
}
#player-icon8 {
    position: relative;
    left: 35%;
    top: 190%;
}
#player-icon9 {
    position: relative;
    left: 60%;
    top: 280%;
}
#player-icon10 {
    position: relative;
    left: 60%;
    top: 370%;
}
#player-icon11 {
    position: relative;
    left: 60%;
    top: 520%;
}
#player-icon12 {
    position: relative;
    left: 60%;
    top: 610%;
}
#player-icon13 {
    position: relative;
    left: 60%;
    top: 760%;
}
#player-icon14 {
    position: relative;
    left: 150%;
    top: 790%;
}
#player-icon15 {
    position: relative;
    left: 185%;
    top: 340%;
}
#player-icon16 {
    position: relative;
    left: 145%;
    top: 430%;
}
#player-icon17 {
    position: relative;
    left: 265%;
    top: 430%;
}
#player-icon18 {
    position: relative;
    left: 305%;
    top: 360%;
}
#player-icon19 {
    position: relative;
    left: 325%;
    top: 290%;
}
#player-icon20 {
    position: relative;
    left: 405%;
    top: 430%;
}
#player-icon21 {
    position: relative;
    left: 365%;
    top: 520%;
}
#player-icon22 {
    position: relative;
    left: 275%;
    top: 500%;
}
#player-icon23 {
    position: relative;
    left: 165%;
    top: 500%;
}
#player-icon24 {
    position: relative;
    left: 165%;
    top: 570%;
}
#player-icon25 {
    position: relative;
    left: 275%;
    top: 590%;
}
#player-icon26 {
    position: relative;
    left: 175%;
    top: 650%;;
}
#player-icon27 {
    position: relative;
    left: 175%;
    top: 710%;;
}
#player-icon28 {
    position: relative;
    left: 245%;
    top: 710%;;
}
#player-icon29 {
    position: relative;
    left: 365%;
    top: 640%;
}
#player-icon30 {
    position: relative;
    left: 325%;
    top: 720%;
}
#player-icon31 {
    position: relative;
    left: 325%;
    top: 810%;
}
#player-icon32 {
    position: relative;
    left: 365%;
    top: 900%;
}
#player-icon33 {
    position: relative;
    left: 465%;
    top: 930%;
}
#player-icon34 {
    position: relative;
    left: 265%;
    top: 900%;
}
#player-icon35 {
    position: relative;
    left: 245%;
    top: 820%;
}
#player-icon36 {
    position: relative;
    left: 95%;
    top: 880%;
}
#player-icon37 {
    position: relative;
    left: 10%;
    top: 850%;
}
#player-icon38 {
    position: relative;
    left: 10%;
    top: 950%;
}
#player-icon39 {
    position: relative;
    left: 100%;
    top: 1010%;
}
#player-icon40 {
    position: relative;
    left: 170%;
    top: 930%;
}
#player-icon41 {
    position: relative;
    left: 250%;
    top: 970%;
}
#player-icon42 {
    position: relative;
    left: 340%;
    top: 970%;
}
#player-icon43 {
    position: relative;
    left: 446%;
    top: 1000%;
}
#player-icon44 {
    position: relative;
    left: 561%;
    top: 970%;
}
#player-icon45 {
    position: relative;
    left: 761%;
    top: 1000%;
}
#player-icon46 {
    position: relative;
    left: 761%;
    top: 940%;
}
#player-icon47 {
    position: relative;
    left: 761%;
    top: 865%;
}
#player-icon48 {
    position: relative;
    left: 660%;
    top: 900%;
}
#player-icon49 {
    position: relative;
    left: 660%;
    top: 970%;
}
#player-icon50 {
    position: relative;
    left: 660%;
    top: 810%;
}
#player-icon51 {
    position: relative;
    left: 560%;
    top: 790%;
}
#player-icon52 {
    position: relative;
    left: 560%;
    top: 890%;
}
#player-icon53 {
    position: relative;
    left: 640%;
    top: 682%;
}
#player-icon54 {
    position: relative;
    left: 740%;
    top: 722%;
}
#player-icon55 {
    position: relative;
    left: 760%;
    top: 792%;
}
#player-icon56 {
    position: relative;
    left: 405%;
    top: 830%;
}
#player-icon57 {
    position: relative;
    left: 485%;
    top: 830%;
}
#player-icon58 {
    position: relative;
    left: 485%;
    top: 740%;
}
#player-icon59 {
    position: relative;
    left: 405%;
    top: 750%;
}
#player-icon60 {
    position: relative;
    left: 565%;
    top: 700%;
}
#player-icon61 {
    position: relative;
    left: 465%;
    top: 640%;
}
#player-icon62 {
    position: relative;
    left: 615%;
    top: 600%;
}
#player-icon63 {
    position: relative;
    left: 718%;
    top: 600%;
}
#player-icon64 {
    position: relative;
    left: 798%;
    top: 540%;
}
#player-icon65 {
    position: relative;
    left: 875%;
    top: 540%;
}
#player-icon66 {
    position: relative;
    left: 798%;
    top: 467%;
}
#player-icon67 {
    position: relative;
    left: 525%;
    top: 540%;
}
#player-icon68 {
    position: relative;
    left: 565%;
    top: 470%;
}
#player-icon69 {
    position: relative;
    left: 640%;
    top: 470%;
}
#player-icon70 {
    position: relative;
    left: 720%;
    top: 470%;
}
#player-icon71 {
    position: relative;
    left: 445%;
    top: 520%;
}
#player-icon72 {
    position: relative;
    left: 485%;
    top: 430%;
}
#player-icon73 {
    position: relative;
    left: 522%;
    top: 350%;
}
#player-icon74 {
    position: relative;
    left: 602%;
    top: 390%;
}
#player-icon75 {
    position: relative;
    left: 602%;
    top: 310%;
}
#player-icon76 {
    position: relative;
    left: 522%;
    top: 250%;
}
#player-icon77 {
    position: relative;
    left: 582%;
    top: 170%;
}
#player-icon78 {
    position: relative;
    left: 462%;
    top: 140%;
}
#player-icon79 {
    position: relative;
    left: 443%;
    top: 230%;
}
#player-icon80 {
    position: relative;
    left: 423%;
    top: 320%;
}
#player-icon81 {
    position: relative;
    left: 343%;
    top: 220%;
}
#player-icon82 {
    position: relative;
    left: 343%;
    top: 140%;
}
#player-icon83 {
    position: relative;
    left: 383%;
    top: 60%;
}
#player-icon84 {
    position: relative;
    left: 286%;
    top: 60%;
}
#player-icon85 {
    position: relative;
    left: 503%;
    top: 0%;
}
#player-icon86 {
    position: relative;
    left: 483%;
    top: 70%;
}
#player-icon87 {
    position: relative;
    left: 603%;
    top: 70%;
}
#player-icon88 {
    position: relative;
    left: 693%;
    top: 0%;
}
#player-icon89 {
    position: relative;
    left: 693%;
    top: 90%;
}
#player-icon90 {
    position: relative;
    left: 693%;
    top: 200%;
}
#player-icon91 {
    position: relative;
    left: 693%;
    top: 310%;
}
#player-icon92 {
    position: relative;
    left: 678%;
    top: 390%;
}
#player-icon93 {
    position: relative;
    left: 778%;
    top: 390%;
}
#player-icon94 {
    position: relative;
    left: 718%;
    top: 480%;
}
#player-icon95 {
    position: relative;
    left: 878%;
    top: 390%;
}
#player-icon96 {
    position: relative;
    left: 878%;
    top: 310%;
}
#player-icon97 {
    position: relative;
    left: 878%;
    top: 470%;
}
#player-icon98 {
    position: relative;
    left: 803%;
    top: 140%;
}
#player-icon99 {
    position: relative;
    left: 873%;
    top: 90%;
}
#player-icon100 {
    position: relative;
    left: 873%;
    top: 0%;
}
#player-icon101 {
    position: relative;
    left: 796%;
    top: 0%;
}
#player-icon102 {
    position: relative;
    left: 800%;
    top: 230%;
}
#player-icon103 {
    position: relative;
    left: 875%;
    top: 200%;
}
#player-icon104 {
    position: relative;
    left: 915%;
    top: 610%;
}
#player-icon105 {
    position: relative;
    left: 815%;
    top: 630%;
}
#player-icon106 {
    position: relative;
    left: 835%;
    top: 770%;
}
#player-icon107 {
    position: relative;
    left: 915%;
    top: 700%;
}
#player-icon108 {
    position: relative;
    left: 915%;
    top: 790%;
}
#player-icon109 {
    position: relative;
    left: 915%;
    top: 950%;
}
#player-icon110 {
    position: relative;
    left: 835%;
    top: 950%;
}
#player-icon111 {
    position: relative;
    left: 851%;
    top: 866%;
}

#logout {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: white;
  background: black;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 10px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
