p, h1, h2, h3, h4, h5 {
    font-family: 'Courier New', Courier, monospace;
}

.main-container {
    max-width: 1425px;
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;
}
.right-container {
    width: 40%;
}
.top-container {
    width: 100%;
    height: 49%;
    margin-bottom: 1%;
    background-color: black;
    background-image: radial-gradient(rgba(9, 32, 30, 0.75), black 120%);
    overflow: hidden;
    padding: 2rem;
    color: chartreuse;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #c8c8c8;
}
.bottom-container{ 
    width: 100%;
    height: 49%;
    border: 2px solid red;
}
.map-container {
    width: 584px;
    height: 700px;
    margin: 0 20px 0 20px;
    border: 2px solid blue;
}
#map{
    background: url('../images/map-img.png');
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 1fr);
}
#arrow-n:hover {
    cursor: pointer;
}
  
#arrow-s:hover {
    cursor: pointer;
}
#arrow-e:hover {
    cursor: pointer;
}
#arrow-w:hover {
    cursor: pointer;
}
.player-icon {
    width: 45px;
    height: auto;
}
#player-icon1 {
    position: relative;
}
#player-icon2 {
    position: relative;
}