p,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Courier New', Courier, monospace;
}

.main-container {
  max-width: 1425px;
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
}
.right-container {
  width: 40%;
  padding-right: 35px; 
}
.top-container {
  width: 100%;
  height: 49%;
  margin-bottom: 1%;
  border-radius: 15px;
  background-color: black;
  background-image: radial-gradient(rgba(9, 32, 30, 0.75), black 120%);
  overflow: hidden;
  padding: 2rem;
  color: chartreuse;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
}
.bottom-container {
  width: 100%;
  height: 49%;
  border: 2px solid red;
}
.map-container {
  width: 584px;
  height: 700px;
  margin: 0 20px 0 20px;
  border: 2px solid blue;
}

#map{
    background: url('../images/map-img.png');
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 1fr);
}
#arrow-n:hover {
    cursor: pointer;
}
  
#arrow-s:hover {
    cursor: pointer;
}
#arrow-e:hover {
    cursor: pointer;
}
#arrow-w:hover {
    cursor: pointer;
}
.player-icon {
    width: 45px;
    height: auto;
}
#player-icon1 {
    position: relative;
    left: 50%;
}
#player-icon2 {
    position: relative;
    left: 180%;
}
#player-icon3 {
    position: relative;
    left: 210%;
    top: 140%;
}
#player-icon4 {
    position: relative;
    left: 130%;
    top: 140%;
}
#player-icon5 {
    position: relative;
    left: 215%;
    top: 230%;
}
#player-icon6 {
    position: relative;
    left: 55%;
    top: 80%;
}
#player-icon7 {
    position: relative;
    left: 135%;
    top: 210%;
}
#player-icon8 {
    position: relative;
    left: 35%;
    top: 190%;
}
#player-icon9 {
    position: relative;
    left: 60%;
    top: 280%;
}
#player-icon10 {
    position: relative;
    left: 60%;
    top: 370%;
}
#player-icon11 {
    position: relative;
    left: 60%;
    top: 520%;
}
#player-icon12 {
    position: relative;
    left: 60%;
    top: 610%;
}
#player-icon13 {
    position: relative;
    left: 60%;
    top: 760%;
}
#player-icon14 {
    position: relative;
    left: 150%;
    top: 790%;
}
#player-icon15 {
    position: relative;
    left: 185%;
    top: 340%;
}
#player-icon16 {
    position: relative;
    left: 145%;
    top: 430%;
}
#player-icon17 {
    position: relative;
    left: 265%;
    top: 430%;
}
#player-icon18 {
    position: relative;
    left: 305%;
    top: 360%;
}
#player-icon19 {
    position: relative;
    left: 325%;
    top: 290%;
}
#player-icon20 {
    position: relative;
    left: 405%;
    top: 430%;
}
#player-icon21 {
    position: relative;
    left: 365%;
    top: 520%;
}
#player-icon22 {
    position: relative;
    left: 275%;
    top: 500%;
}
#player-icon23 {
    position: relative;
    left: 165%;
    top: 500%;
}
#player-icon24 {
    position: relative;
    left: 165%;
    top: 570%;
}
#player-icon25 {
    position: relative;
    left: 275%;
    top: 590%;
}
#player-icon26 {
    position: relative;
    left: 175%;
    top: 650%;;
}
#player-icon27 {
    position: relative;
    left: 175%;
    top: 710%;;
}
#player-icon28 {
    position: relative;
    left: 245%;
    top: 710%;;
}
#player-icon29 {
    position: relative;
    left: 365%;
    top: 640%;
}
#player-icon30 {
    position: relative;
    left: 325%;
    top: 720%;
}
#player-icon31 {
    position: relative;
    left: 325%;
    top: 810%;
}
#player-icon32 {
    position: relative;
    left: 365%;
    top: 900%;
}
#player-icon33 {
    position: relative;
    left: 465%;
    top: 930%;
}
#player-icon34 {
    position: relative;
    left: 265%;
    top: 900%;
}
#player-icon35 {
    position: relative;
    left: 245%;
    top: 820%;
}
#player-icon36 {
    position: relative;
    left: 95%;
    top: 880%;
}
#player-icon37 {
    position: relative;
    left: 10%;
    top: 850%;
}
#player-icon38 {
    position: relative;
    left: 10%;
    top: 950%;
}
#player-icon39 {
    position: relative;
    left: 100%;
    top: 1010%;
}
#player-icon40 {
    position: relative;
    left: 170%;
    top: 930%;
}
#player-icon41 {
    position: relative;
    left: 250%;
    top: 970%;
}
#player-icon42 {
    position: relative;
    left: 340%;
    top: 970%;
}
#player-icon43 {
    position: relative;
    left: 446%;
    top: 1000%;
}
#player-icon44 {
    position: relative;
    left: 561%;
    top: 970%;
}